.signInBackGround {
  background-color: #eee;
  height: 100%;
}

.formBackGround {
  margin: 5% 30%;
  padding: 3%;
  background: white;
}

.textAlignCenter {
  text-align: center;
  button {
    margin-bottom: 3%;
  }
}