<mat-toolbar>
  <mat-toolbar-row>
    <mat-icon (click)="drawer.toggle()" class="menuIconClass">menu</mat-icon>
    <span>Contract</span>
    <span aria-hidden="true">&nbsp;&nbsp;</span>
    <span class="primaryColor">Portal</span>
    <span class="example-spacer"></span>
    <mat-icon matBadge="15" matBadgeColor="primary"> notifications</mat-icon>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="primaryColor">account_circle</mat-icon>
      <span aria-hidden="true">&nbsp;&nbsp;</span>
      <span *ngIf="appService.userInfo !=null">{{appService.userInfo.displayName}}</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>User preferances</button>
      <button mat-menu-item>Account settings</button>
      <button mat-menu-item (click)="signOut()">Logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer  mode="side" opened class="example-sidenav">
    <ul>
      <li  *ngFor="let value of iconArray" [ngClass]="{'selectedBackground': selectedValue === value}">   
        <mat-icon (click)="menuItems(value)"> {{value}}</mat-icon> 
      </li>
    </ul>

  </mat-drawer>

  <div class="example-sidenav-content">
    <h2>{{selectedValue}}</h2>
  </div>

</mat-drawer-container>
